        <!-- bower:js -->
        <script src="/libs/jquery/dist/jquery.js"></script>
        <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/libs/WATable/jquery.watable.js"></script>
        <!-- endbower -->
		<script src="/socket.io/socket.io.js" type="text/javascript"></script>
        <script src="/js/ejs.js" type="text/javascript"></script>
        <script src="/js/templates.js" type="text/javascript"></script>
        <script src="/js/filterhtml.js" type="text/javascript"></script>
        <script src="/js/filtermanager.js" type="text/javascript"></script>
        <script src="/js/logs.js" type="text/javascript"></script>
        <script src="/js/loggingclient.js" type="text/javascript"></script>
        <script src="/js/objecttree.js" type="text/javascript"></script>
    </body>
</html>