<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%- title %></title>
        <!-- bower:css -->
        <link rel="stylesheet" href="/libs/WATable/watable.css" />
        <!-- endbower -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/objecttree.css">
        <% if (ENV_DEVELOPMENT) { %>
            <script src="http://localhost:35729/livereload.js"></script>
        <% } %>
    </head>
    <body>